/* Menu.css */
/* Стили для мобильных устройств */
@media only screen and (max-width: 430px) {
  .menu-container {
    padding: 2px 2px; /* Уменьшаем отступы внутри меню */
    max-width: 90%; /* Уменьшаем максимальную ширину для мобильных устройств */
  }

  .menu-container ul {
    flex-wrap: wrap; /* Разрешаем перенос элементов списка на новую строку */
    justify-content: center; /* Выравниваем элементы списка по центру */
  }

  .menu-container li {
    margin: 5px; /* Уменьшаем отступ между пунктами меню */
  }
}

.menu-container {
  background-color: #648fbd; /* Цвет фона меню */
  padding: 20px;
}

.menu-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.menu-container ul li {
  margin-right: 10px;
}

.menu-container ul li:last-child {
  margin-right: 0;
}

.menu-container ul li a {
  color: #fff; /* Цвет текста ссылок */
  text-decoration: none;
  padding: 10px 20px; /* Отступы вокруг текста ссылок */
  border-radius: 5px; /* Закругленные углы для ссылок */
  transition: background-color 0.3s;
}

.menu-container ul li a:hover {
  background-color: #779dc8; /* Цвет фона при наведении */
}


.menu-logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

/* Стили для кнопки-гамбургера */
.hamburger-menu {
  display: none; /* По умолчанию скрываем кнопку-гамбургер */
  cursor: pointer;
}

.mobile-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* По умолчанию скрываем бар меню на мобильных устройствах */
}

/* Активное состояние кнопки-гамбургера */
.hamburger-menu.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Стили для линий кнопки-гамбургера */
.line {
  width: 25px;
  height: 3px;
  background-color: #070707;
  margin: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Показываем бар меню при активации кнопки-гамбургера */
.menu-container.active {
  display: block;
}

/* Показываем кнопку-гамбургер при мобильной адаптации */
@media only screen and (max-width: 430px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #4d6176;
    padding-top: 60px; /* Выравниваем меню под кнопку */
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .menu-container.active {
    transform: translateX(0);
  }

  .menu-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-container ul li {
    margin-bottom: 10px;
  }

  .menu-container ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
}
