

.mortgage-program-container {
    max-width: 800px;
    margin-top: 140px;
    padding: 20px;
  }
  
  .mortgage-program-section {
    margin-bottom: 30px;
  }
  
  .how-to-apply-section {
    margin-top: 30px;
  }
  
  h2 {
    margin-top: 150px;
    color: #333;
  }
  
  h3 {
    color: #666;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  p {
    line-height: 1.6;
  }
  
  strong {
    font-weight: bold;
  }
  