

.mortgage-program-container {
    max-width: 800px;
    margin-top: 140px;
    padding: 20px;
  }
  
  .mortgage-program-section {
    margin-bottom: 30px;
  }
  
  .how-to-apply-section {
    margin-top: 30px;
  }
  
  h2 {
    margin-top: 150px;
    color: #212122;
  }
  
  h3 {
    color: #009688;
  }
  
  ul {
    padding: 10px;
    
    list-style-type: disc;
   
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    justify-content: space-evenly;
}
  p {
    color: #f2f4f7;
    line-height: 1.6;
  }
  
  strong {
    font-weight: bold;
  }
  