
@media screen and (max-width: 600px) {
  .property-list .property-card {
    margin-bottom: 90px;
    width: calc(50% - 10px); /* При ширине экрана до 600px отображаем карточки по две в ряд */
  }
}
.real-estate-catalog{
  margin-top: 200px;}

@media (max-width: 800px) {
  .construction-details-modal {
    color: black;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}


.property-list {
  position: relative;
}
.construction-details-modal {
  color: black;
  height: 790px;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* z-index: 2000; */
}
@media (max-width: 800px) {
  .construction-details-modal {
    color: black;
    height: 790px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}
